<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Autouser" value="true" />
  </appSettings>
  <userSettings>
    <ModBot.Properties.Settings>
      <setting name="Autouser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GreetingEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GreetingText" serializeAs="String">
        <value>Hey [USER]! Welcome to the **[SERVER]** server. Make sure to read the [RULES] and have fun here! :smiley:</value>
      </setting>
      <setting name="GreetMod" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LeaveEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LeaveText" serializeAs="String">
        <value>[USER] has just left us! Bye [USER]! :wave:</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hourpromo" serializeAs="String">
        <value>False</value>
      </setting>
    </ModBot.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.9.0" newVersion="0.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>